.app{
  color: indianred;
}

.buttons {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
 margin: 50px;
 margin-top: 7px;
}

.numButton{
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1{
  height: 50px;
  display: block;
  margin: 5px;
  background-color: rgb(189, 189, 189);
}